@import 'colors';

$header-height: 100px;

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    a {
        color: $link-color;
        text-decoration: none;
    }

    header {
        background: lightgray;
        color: $text-color;
        font-size: 2rem;
        height: $header-height;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;

        & > div {
            display: flex;
        }

        input {
            margin-left: 2rem;
        }
    }

    p,
    input {
        color: $text-color;
        font-size: 1.2rem;
    }

    input {
        padding: .5rem;
    }

    button {
        background-color: $alligator-color;
        border: 0;
        border-radius: 5px;
        color: $white-color;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        outline: none;
        padding: .5rem 1rem;
        transition: .3s ease;

        &:hover {
            opacity: .85;
        }
    }
}

.app-name {
    color: $white-color;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 2px $alligator-color, 0 0 4px $text-color;
}
.chat {
    margin-top: 2rem;
    height: 400px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    padding: 1rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 2rem;
}

.add-messages {
    bottom: 0;
    // background: $pale-alligator-color;
    height: 90px;
    left: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    width: 100%;

    input {
        min-width: 500px;
        border: 2px solid $alligator-color;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;

        &:focus {
            outline: none;
        }
    }

    button {
        color: $alligator-color;
        border: 2px solid $alligator-color;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: $white-color;
        box-sizing: border-box;
    }
}
.add-rooms {
    input {
        border: 2px solid $alligator-color;
        border-radius: 5px;

        &:focus {
            outline: none;
        }
    }

    button {
        margin-left: 1rem;
    }
}

.message {
    background: $pale-alligator-color;
    margin: 0;
    padding: .5rem;
}

.rooms-list {

    display: flex;
    flex-wrap: wrap;
    margin-top: $header-height;

    .room {
        background: $white-color;
        border: 2px solid $alligator-color;
        border-radius: 20px;
        color: $alligator-color;
        cursor: pointer;
        font-size: 1rem;
        margin: 1rem 1rem 0 0;
        padding: 1rem 0.5rem;
        min-width: 40px;
        text-align: center;

        &.room--chosen {
            background: $pale-alligator-color;
        }
    }
}
